:root {
  --white: #f6f6f6;
  --wool: #e8e8e8;
  --grey: #333;
  --red: #B30406;
  --dark-red: #980200;
  --header: #111
  background-color: #f6f6f6;
  font-family: "DM Sans", sans-serif;
  color: var(--grey);
}
/* ------ MAIN STUFF -------- */
*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  color: var(--grey);
}


/* ------ MENU ICON -------- */
header ul {
  position: absolute;
  opacity: 0;
  transform: translateX(-100vw);
  transition: transform 300ms ease;
}

.menu-icon {
  position: fixed;
  top: 8px;
  left: 8px;
  background-color: var(--grey);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 1rem;
  z-index: 2;
  }

/* override the width and height attributes in the SVG markup  */
 .menu-icon svg {
  width: 28px;
  height: auto;
} 

.menu-icon line {
  stroke: var(--white);
  stroke-width: 3px;
  stroke-linecap: round;
  transform-origin: center;
  transition: transform 300ms ease;
}

.menu-icon line:first-child {
  transform: translateY(16%)
}

.menu-icon line:last-child {
  transform: translateY(-16%);
}

/* JavaScript toggles a "close" class on the <nav> when the menu-icon is clicked */
.close nav {
  display: block;
}

.close line:first-child {
  transform: rotate(135deg);
}

.close line:last-child {
  transform: rotate(-135deg);
}

.close ul {
  opacity: 1;
  transform: translateX(0);
}

/* ------ MENU ICON CLOSE-------- */

nav {
display: none;
background-color: var(--grey);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
z-index: 1;
padding: 6rem 2rem 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  border-bottom: 1px solid var(--white);
}

nav li a {
  display: inline-block;
  padding: 1em;
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--white);
}

nav li a:hover {
  text-decoration: underline;
}

/*------ HERO SETUP ------*/
.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-text {
  color: #fff;
  padding: 0 1rem 2rem;
  font-size: clamp(.25rem, 3vw, 4rem);
}

.hero h1 {
  font-size: clamp(1rem, 7vw, 7rem);
  margin: 0;
 }

.hero-text h1 {
  font-size: clamp(2rem, 9vw, 8rem);
  line-height: 1;
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

.video-background {
  background: #000;
  position: absolute;
  inset: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* because frameborder attribute of iframe is deprecated */
iframe {
  border: 0;
}




main {
  padding: 0 1rem;
  width: 100%;
  max-width: 70rem;
  margin: 3rem auto;
  max-width: 60rem;
}

article {
  margin-bottom: 4rem;
  max-width: 70rem;
  display: flex;
}



/* ------------------------------------------ */

a {
  text-decoration: none;
  color: var(--white);
}

a[href]:hover {
  font-weight: bold;
  color: var(--wool);
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  line-height: 1.1;
  color: var(--header);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

picture img {
  max-width: none;
  height: 100%;
}

.panel {
  display: flex;
  background-color: #e8e8e8;
  padding: 1rem;
  flex-direction: column;
}

.text-wrapper {
  order: 1;
  }


* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  height: 275px;
  margin: 0 1rem 6rem;
  flex-direction: column;
  background-color: #e8e8e8;
  padding: 2rem;
}

.card {
  margin: 0px;
  padding: 0px;
  flex: 1 1 0;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--grey);
  background-color: var(--grey);
 display:block;
}

.card:hover {
  color: var(--wool);
  box-shadow: 3px 3px 4px rgba(51, 51, 51, 0.6);
  transition: box-shadow 100ms ease;
}

.card p {
  transform: scale(.9);
  font-size: 18px;
  transition: transform 300ms;
  line-height: 1;
}

section.cards {
  height: fit-content;
  margin: 0 1rem 6rem;
}

.special {
margin: 0 1rem 3rem;
}

.card:hover p {
  transform: scale(1);
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  padding: 0.8rem 1rem;
  border-radius: 1000px;
  transition: background-color 300ms ease;
  background-color: var(--dark-red);
}

.button:hover {
  background-color: var(--red);
  cursor: pointer;
}

.text-content .button {
  margin-top: 2rem;
}


/* ------------------------------------------ */

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

nav ul {
  margin: 0;
}

/* -------------contact page stuff---------- */
.contact main {
  margin-bottom: 3rem;
}

.contact .image-wrapper {
  max-width: 300px;
  min-width: 100px;
  align-self: center;
}

.contact form {
  display: grid;
}

.contact .fieldset-wrapper,
.contact button,
.contact form > label {
  display: block;
  margin-top: 1.5rem;
}

.contact form > label:first-of-type {
  margin-top: 0;
}

.contact .fieldset-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.contact fieldset {
  display: contents;
  border: none;
  padding: 0;
  margin: 0;
}

.contact legend {
  grid-column: 1 / -1;
}

.contact button {
  justify-self: center;
}

.contact main {
  display: flex;
  flex-direction: column;
}
/* ------------------------------------------ */
/* ---------------FOR THE ABOUT PAGE ONLY------------------------ */

.logindiv {
  font-size: 30px;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.login {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 0.2em;
  width: 10em;
  
  animation: pop-in 1s;
}

.title{
  font-size: 0.6em;
  background-color: #980200;
  color:#F5F5F5;
  border-radius: 0.2em 0.2em 0px 0px;
  transform-origin: left center;
  opacity: 0;
  padding: 25px;
  margin: 0px;
  
  animation-delay: 0.5s;
  animation-name: slideX;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}


.login input {
  padding: 5px;
  margin: 5px;
  animation: pop-in 1s;
  font-size: 15px;
}

/* .formdata input[type="text"]{
  border-radius: 1em;
  border: none;
  background-color: rgb(152,2,0,0.15);
  color: #37474F;
} */

.login input:nth-child(1) {
  animation-delay: 0.1s;
}
.login input:nth-child(2) {
  animation-delay: 0.2s;
}
.login input:nth-child(3) {
  animation-delay: 0.3s;
}

.formData {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#submit {
  background-color: rgb(152,2,0);
  border: none;
  color: #F5F5F5;
 
}

@keyframes pop-in {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}


@keyframes slideX {
  FROM{
    transform: scaleX(0);
    opacity: 1;
  }
  TO{
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
    
  }
}


/* ---------------END OF ABOUT PAGE------------------------------ */

@media (min-width: 401px) {
  /* tablet CSS */
.panel {
   flex-direction: row;
   gap: 50px;
 }
 
 .left {
  order: 1;
  flex: .6
}

.text-wrapper {
  order: 0;
  flex: .6
}

.image-wrapper {
flex: .4;
}

h2{
  margin: 0;
}

.cards {
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;  
}

.cards > * {
  flex: 1 1 33%;
}

/*-------Navigation-----*/
header {
  background-color: var(--dark-red);
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
}

header ul {
  position: static;
  opacity: 1;
  transform: none;
  transition: none;
}

.menu-icon {
  display: none;
}


nav {
  display: contents;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 0px 20px;
  font-size: large;
  display: inline-block;
}

nav a[href]:hover {
  text-decoration-line: underline;
  color: var(--wool);
  font-weight: lighter;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  display: block;
  padding: 1.5rem;
}

nav li {
  border-bottom: none;
}

}


@media (min-width: 601px) {
  .contact form {
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    row-gap: 1.5rem;
  }

  .contact button,
  .contact .fieldset-wrapper {
    grid-column: 2 / span 1;
  }

  .contact form > label {
    justify-self: end;
  }

  .contact .fieldset-wrapper,
  .contact button,
  .contact form > label {
    margin-top: 0;
  }

  .contact button {
    justify-self: start;
  }
}


@media (min-width: 801px) {
  /* desktop CSS */
  .cards {
    flex-direction: row; 
    flex-wrap: nowrap;
  }
  .cards > * {
    flex: 1 1 0;}
  }

  @media (min-aspect-ratio: 16/9) {
    .video-foreground {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .video-foreground {
      width: 300%;
      left: -100%;
    }
  }